/*
Author Name: CodeInquirer
Project Name: DRIX MVC - Custom CSS 
*/
body {
    font-family: Arial;
    font-size:12px;
}
h1 {
  
}
#wrapper {
    margin:0 auto;
    padding:0;
    width:80%;   
}
.site-title {
    padding-right:10px;
}
#header {
    padding:10px;
    background: rgb(221, 221, 221);
}
#nav-menu {
    display: inline-block;
    width: 100%;
}
#nav-menu .site-title {
  float: left;  
}
#nav-menu .menu {
    float: right;
}
#nav-menu ul {
   margin: 25px 0;
   padding: 0;
}
#nav-menu ul li {
    float: left;
    list-style-type: none;
}
#nav-menu ul li a{
    background: #FFF;
    padding: 10px;
    text-decoration: none;
}
#nav-menu ul li a:hover{
    text-decoration: underline;
    background:#ebebeb;
}
#content {
    padding: 10px;
    background: rgb(240, 235, 235);
    border-top: 1px solid #D3CCCC;
}
#footer {
    padding:10px;
    background:rgb(221, 221, 221);
}
#footer .developer {
    text-align: right;
}
#footer .copyright {
    float: left;
}
#nav-menu ul li:first-child {
  -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
}
.login {
    margin: 0 auto;
    width: 40%;
}
.login h1 {
    text-align: center;
}
.login li{
    list-style-type: none;
}
.login li label {
    width: 100%;
    display: inline-block;
}
.login li input[type="text"],.login li input[type="password"]  {
    width:100%;
    padding:5px;
}
.trigger input[type="submit"]{
    width: 50%;
    margin: 7px 0;
    padding: 5px;
    cursor:pointer;
}
